@mixin font-15b {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0F0F0F;
    font-family: "Poppins", serif;

}

@mixin font-15w {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    font-family: "Poppins", serif;

}

@mixin font-14b {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0F0F0F;
    font-family: "Poppins", serif;

}

@mixin font-14w {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #ffffff;
}

@mixin font-14sg {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #45474f;
    font-family: "Poppins", serif;

}

@mixin font-14dg {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #92949f;
    font-family: "Poppins", serif;

}

@mixin font-40b {
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", serif;

}

@mixin font-22b {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", serif;

}

@mixin font-18b {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", serif;

}

@mixin font-18w {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #ffffff;
    font-family: "Poppins", serif;

}

@mixin font-36w {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #ffffff;
    font-family: "Poppins", serif;

}