@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin font-15b {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0F0F0F;
    font-family: "Poppins", sans-serif;

}

@mixin font-15w {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
  
}

@mixin font-14b {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0F0F0F;
    font-family: "Poppins", sans-serif;
   

}

@mixin font-14w {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #ffffff;
}

@mixin font-14sg {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #45474f;
    font-family: "Poppins", sans-serif;
 

}

@mixin font-14dg {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #92949f;
    font-family: "Poppins", sans-serif;
    

}

@mixin font-40b {
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", sans-serif;
   

}

@mixin font-22b {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", sans-serif;


}

@mixin font-18b {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #0f0f0f;
    font-family: "Poppins", sans-serif;
    

}

@mixin font-18w {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    

}

@mixin font-36w {
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.32px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    

}