@import '../../../scss/main';
.feature_toy_main_heading{
    text-align: center;
    h1{
        @include font-40b;
    }
    p{
        width: 500px;
        @include font-14sg;
    }
}
.feature_toy_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 45px;
    padding-bottom: 31px;

    .shopby_friends_box1 {
        border: 1px solid #92949f;
        border-radius: clamp(12px, 0.833vw, 64px);
        padding: 12.65px;
        position: relative;

        .shopby_friends_box1_img {
            overflow: hidden;
            border: 1px solid white;
            border-radius: 7px;
            width: 100%;
            height: 206px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                padding: 12px;
                border-radius: 7px;
                background: #F7F3F3;

                // &:hover {
                //     transform: scale(1.1);
                //     transition: 0.3s ease-in-out;
                //     border-radius: 7px;

                // }
            }
        }

        .shopby_friends_box1_img_upper_left {
            position: absolute;
            top: 6%;
            left: 9%;
            background-color: #fecd00;
            width: 47px;
            height: 24px;
            display: flex;
            align-items: center;
            border-radius: 4px;

            p {
                @include font-14b;
            }

        }

        .shopby_friends_box1_img_upper_right {
            position: absolute;
            top: 5%;
            right: 8%;
            display: flex;
            flex-direction: column;
            column-gap: 7px;
            display: none;
            transition: 8s ease-in-out;

            .heart_icone {
                border-radius: 5px;
                border: 1px solid black;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .heart {
                    width: 21px;
                    height: 21px;
                }

                &:hover {
                    background-color: #fc6102;
                    color: #fff;
                    border-color: #fc6102;
                    transition: 0.3s ease-in-out;
                    border-radius: 5px;
                }
            }

            .eyes_icone {
                border: 1px solid black;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .eyes {
                    width: 21px;
                    height: 21px;
                }

                &:hover {
                    background-color: #fc6102;
                    color: #fff;
                    border-color: #fc6102;
                    transition: 0.3s ease-in-out;
                    border-radius: 5px;
                }
            }

            .revers_icone {
                border-radius: 5px;
                border: 1px solid black;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .revers {
                    width: 21px;
                    height: 21px;
                }

                &:hover {
                    background-color: #fc6102;
                    color: #fff;
                    border-color: #fc6102;
                    transition: 0.3s ease-in-out;
                    border-radius: 5px;
                }
            }

        }

        .shopby_friends_box1_bottom_star_main {
            display: flex;
            margin-top: 14px;

            .shopby_friends_box1_bottom_star {
                .star1 {
                    color: #fc6102;
                }

                .star2 {
                    color: #92949f;
                }
            }

            .shopby_friends_box1_bottom_star_flex {
                @include font-14b;
            }
        }

        .shopby_friends_box1_bottom_data {
            h1 {
                @include font-22b;
                cursor: pointer;

                &:hover {
                    color: #fc6102;
                    transition: 0.3s ease-in-out;
                }
            }

            p {
                @include font-14dg;
            }
        }

        .shopby_friends_box1_bottom_prize {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 18px;

            p {
                @include font-18b;
                margin: 0;
            }

            del {
                @include font-14dg;
            }
        }

        .shopby_friends_box1_bottom_cart_button {
            display: flex;
            gap: 5px;

            .shopby_friends_box1_bottom_cart_button_left {
                display: flex;
                width: 146px;
                height: 43px;
                align-items: center;
                background-color: #f7f3f3;
                border-radius: clamp(2px, 0.208vw, 28px);

            }

            .shopby_friends_box1_bottom_cart_button_right {
                button {
                    @include btn-gray-orange;
                }

            }
        }

        &:hover {
            .shopby_friends_box1_img_upper_right {
                display: block;
                transition: 8s ease-in-out;
                display: flex;
                gap: 5px;
            }

        }

        &:hover {
            .shopby_friends_box1_img {
                img {
                    transform: scale(1.1);
                    transition: 0.6s ease-in-out;
                    border-radius: 7px;
                }
            }
        }


    }
}

@media(max-width:768px) {
    .feature_toy_main {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 18px;

        .shopby_friends_box1 {
            .shopby_friends_box1_bottom_cart_button {
                .shopby_friends_box1_bottom_cart_button_left {
                    width: 160px;
                }

                .shopby_friends_box1_bottom_cart_button_right{
                    button{
                        width: 160px;
                    }
                }
            }
        }
    }
}
@media(max-width:576px) {
    .feature_toy_main_heading{
        padding-top: 31px;
        h1{
            font-size: 28px;
        }
        p{
            width: 348px;
        }
    }
    .feature_toy_main {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 18px;
        margin-top: 20px;
        .shopby_friends_box1 {
            .shopby_friends_box1_bottom_cart_button {
                .shopby_friends_box1_bottom_cart_button_left {
                    width: 160px;
                }

                .shopby_friends_box1_bottom_cart_button_right{
                    button{
                        width: 160px;
                    }
                }
            }
        }
    }
}