.shopby_friends_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .shopby_friends_box1 {
        border: 1px solid black;
        padding: 12.65px;
        .shopby_friends_box1_img {
            overflow: hidden;
            border: 1px solid white;
            border-radius: 7px;
            width: 100%;
            height: 206px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                padding: 12px;
                border-radius: 7px;
                background: #F7F3F3;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s ease-in-out;
                    border-radius: 7px;

                }
            }
        }

        
    }
}