@mixin btn-white-transpernt{
    background-color: #fff;
    text-align: center;
    font-family: "Poppins", serif;
    width: 148px;
    height: 49px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: .75rem;
    color: #000;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover{
        transition:  0.3s ease-in-out;
        font-weight: 500;
        background-color: transparent;
        color: var(--font--color-white);
        border: 1px solid #fff;

    }
}
@mixin btn-transpernt-white{
    background-color: transparent;
    text-align: center;
    font-family: "Poppins", serif;
    width: 148px;
    height: 49px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: .75rem;
    color: var(--font--color-white);
    border: 1px solid #fff;
    cursor: pointer;

    &:hover{
        transition:  0.3s ease-in-out;
        font-weight: 500;
        background-color: var(--button-background-color-white);
        color: #000;
        border: 1px solid #fff;

    }
}